sub, sup {
  font-size: .8em;
}

reveal.sub {
  font-size: .8em;
}


.reveal p {
    font-size: .9em;
    text-align: center;
}


.reveal body {
    font-size: .9em;
}

.reveal h1 {
	font-size: 1.5em;
  text-align: center;
}
.reveal h2 {
	font-size: .9em;
  text-align: center;
}
.reveal h3 {
	font-size: .9em;
  text-align: center;
}

.reveal h6 {
	font-size: .5em;

}

.reveal small {
    font-size: .8em;
}

.reveal table {
    border: none;
    rules: none;
    margin: 0;
    padding: 0;
    font-size: .9em;
}

ul {
    display: block;
    margin: 0 0 0 75px;
    text-align: left;
    font-size: .9em;
}

.reveal ul {
    display: block;
    margin: 0 0 0 75px;
    text-align: left;
    font-size: .9em;
}

.reveal ol {
    display: block;
    margin: 0 0 0 75px;
    text-align: left;
    font-size: .9em;
}

.reveal li  {
    font-size: .9em;
    text-align: left;
}

.sublist li{
    font-size: .8em
    text-align: left;
}


.left {
    border: none;
    float: left;
    display: inline-block;
    width: 50%;
    height: 50%;
    padding: 10px;
}

.right {
    border: none;
    float: right;
    display: inline;
    width: 33%;
    height: 33%;
    padding: 0px;
}

.myblock {
    width: 80%;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


.mycaption div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .6em;
    padding: 1em 2em;
}

.reveal section img {
  border: none;
  box-shadow: none;
  background:none;
  padding: 10px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-end;

}

/* Force title on top
.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: left !important;
}*/
/*
section > h1, section > h2 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}*/

/*
.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 800px !important;
  position: relative !important;
}
*/
